body {
    /*background-color: #c9c9c9; */
    background-color: #cbcbdb;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #202020	;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

li {
    display: inline;
}

.knobEl {
    margin: 10px 10px 10px 10px;
}

h1 {
  font-family: 'Teko', sans-serif;
  text-align: center;
font-size: 50px;
  color: #000079;
  margin-bottom: -30px;
}
body {
font-size: 20px;
color: white;
}

h2{
/*  color: 	#B8B8B8		; */
color: #D0D0D0;
}
