body {
    background-color: #c9c9c9;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #202020	;
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;


}

li {
    display: inline;
}

.knobEl {
    margin: 10px 10px 10px 10px;
}
@font-face {
  font-family: Rakkas;
  src: url("https://fonts.google.com/specimen/Rakkas");
}
h1 {
  font-family: "Rakkas";
  text-align: center;
}
body {
font-size: 20px;
color: white;
}
